<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %} -- {% endblock title %}Ship-Shape-File-Navigator</title>
    
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.png">
	<link rel="icon" sizes="16 32 64" type="svg" href="images/favicon.svg">
	<link rel="apple-touch-icon" href="images/touch-icon.png" />

    <!-- Styles ---------------------------------------------------- -->
    <!-- Bootstrap CSS-->
    <link href="js/libs/bs/css/bootstrap.min.css" rel="stylesheet">
    <!-- Ship styles -->
    <!--
        <link href="styles/style.css" rel="stylesheet">
    -->
    <link href="styles/style.less" rel="stylesheet/less" type="text/css">
    <script src="js/libs/less.js" type="text/javascript" ></script>
    <!-- ----------------------------------------------------------- -->
    
	<!-- No-js warning -->
	<noscript>
        <link href="styles/no-js.css" rel="stylesheet" type="text/css">
        <div id="no-js">
			This site requires JavaScript (<a href="http://www.enable-javascript.com"
			target="_blank">How to enable JavaScript in your browser</a>).
		</div>
	</noscript>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
      
    <div id="header">
      <div class="container" id="logo-grunge">
        <a href="index.html"><img src="images/logoheader.png" /></a>
      </div>
    </div>
    
    <div id="waveband"></div>

    <div class="container">
      {% block page_content %}
        <div class="row section-title">
          <div class="col-lg-6 col-md-6 col-lg-offset-1 col-md-offset-1">
            <h2 class="text-left">{% block section_title %}{% endblock section_title %}</h2>
          </div>
        </div>
      {% endblock page_content %}
    </div><!-- /.container -->

    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-lg-pull-1 col-md-5 col-md-pull-1 pull-right text-right" id="footer-links">
            <!--
            <a href="">Contact</a>
            -->
          </div>
          <div class="hidden-xs col-lg-5 col-lg-push-1 col-md-5 col-md-push-1 pull-left" id="twitter">
            <a href="https://twitter.com/shipshpfn"><img src="images/logo_twitter.svg" alt="logo Twitter" /> @shipshpfn</a>
          </div>
          <div class="col-xs-2 hidden-sm hidden-md hidden-lg pull-left" id="twitter">
            <a href="https://twitter.com/shipshpfn"><img src="images/logo_twitter.svg" alt="logo Twitter" /></a>
          </div>
        </div>
      </div>
    </div>

    <!-- JavaScript ------------------------------------------------ -->
    <script src="js/libs/jquery.min.js"></script>
    <script src="js/libs/bs/js/bootstrap.min.js"></script>

    <script src="js/libs/less.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->

    {% block shipjs %}{% endblock shipjs %}
    
  </body>
</html>
