{% extends "base.html" %}
{% block title %}Get it{{ super() }}{% endblock title %}
{% include 'navbar.html' %}
{% block page_content %}
    <div class="row section-title">
      <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
        <h2 class="text-left">Downloading</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
        <h3 class="text-left">Source Distribution</h3>
<!--
        <h4 class="text-left">Stable version</h4>
-->
        <h4 class="text-left">0.1 alpha version (unstable, functional only in Linux environments)</h4>
<!--
        <a href="https://bitbucket.org/shipshp/shipshpfn/get/master.zip"><button class="btn btn-lg"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> 0.1 Stable (zip)</button></a>
-->
        <a href="https://bitbucket.org/shipshp/shipshpfn/get/master.zip"><button class="btn btn-lg"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> 0.1 alpha (zip)</button></a>
        <a href="https://bitbucket.org/shipshp/shipshpfn/get/master.tar.gz"><button class="btn btn-lg"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> 0.1 alpha (tar.gz)</button></a>
      </div>
      <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
        <h4 class="text-left">Latest, in development version</h4>
        <a href="https://bitbucket.org/shipshp/shipshpfn/get/development.zip"><button class="btn btn-lg"><span class="glyphicon glyphicon-random" aria-hidden="true"></span> v0.1 Devel (zip)</button></a>
        <a href="https://bitbucket.org/shipshp/shipshpfn/get/development.tar.gz"><button class="btn btn-lg"><span class="glyphicon glyphicon-random" aria-hidden="true"></span> v0.1 Devel  (tar.gz)</button></a>
      </div>
    </div>
    
    <div class="row" id="source-download">
      <div class="col-lg-6 col-md-6 col-lg-offset-1 col-md-offset-1">
        <h3 class="text-left">Source</h3>
        <p class="lead">Source code repository to download or clone:</p>
        <h3 class="text-left"><a href="https://bitbucket.org/shipshp/shipshpfn/downloads">https://bitbucket.org/shipshp/shipshpfn.git</a></h3>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
        <h2 class="text-left">Installation</h2>
        <p class="lead">Just extract it to some place in your system and run the <b>shipshpfn/gui.py</b> file with Python.</p>
        <p class="lead">For a more detailed description follow <a href="http://shipshapefilenavigator.readthedocs.io/en/latest/installation.html">these instructions</a>.</p>
      </div>
    </div>
    
    </br></br>
    
{% endblock page_content %}

