{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block page_content %}
    <div class="row">
        <div id="what-is-it" class="col-lg-6 col-md-6 col-lg-offset-1 col-md-offset-1">
          <h2>Ship, a shipshape shapefile file navigator.</h2>
          <p class="lead">That is, <strong>Ship-Shape-File-Navigator</strong> is a standalone FLOSS navigational file manager focused to ease the management of Shapefile files, a de-facto standard format to handle GIS data.</p>
          <p class="lead">Ship allows you navigate through directories and see shapefile's main characteristics, tabular data, and a preview of their geometries.</p>
          <p class="lead">With Ship you'll be able to do common file operations like copy, move, rename and delete to the shapefiles as a whole (and soon also apply batch geoprocessing to them).</p>
          <p class="lead">Although not adaptated to nor tested, it's intended that Ship will be multiplatform, running in Linux, Windows and Mac.</p>
        </div>
        
        <div id="" class="col-lg-3 col-md-3 col-lg-offset-1 col-md-offset-1">
          <div id="get-it" class="text-center">
            <a href="downloads.html"><button class="btn btn-lg">Get it</button></a>
          </div>
          <div id="sections" class="text-right col-xs-6 col-xs-pull-1">
            <h3><small>See it</small></h3>
            <h3><small>Know more</small></h3>
            <h3><small>Get inside</small></h3>
            <h3><small>Report issues</small></h3>
            <h3><small>Latest news</small></h3>
          </div>
          <div id="sections" class="text-left col-xs-6 col-xs-pull-1">
            <h3><a href="screenshots.html">Screenshots</a></h3>
            <h3><a href="http://shipshapefilenavigator.readthedocs.io">Documentation</a></h3>
            <h3><a href="https://bitbucket.org/shipshp/shipshpfn/overview">Development</a></h3>
            <h3><a href="https://bitbucket.org/shipshp/shipshpfn/issues">Bug tracker</a></h3>
<!--
            <h3><a href="log.html">Ship's log</a></h3>
-->
            <h3><a href="https://twitter.com/shipshpfn">Ship's log</a></h3>
          </div>
        </div>
    </div>
    
    <div class="row">  
      <div id="license-code" class="col-lg-6 col-md-6 col-lg-offset-1 col-md-offset-1">
          <h2>License and code</h2>
          <p class="lead">Ship-Shape-File-Navigator is libre software released under the GNU GPL license.</p>
          <p class="lead">It's coded in Python, using Tkinter as GUI. To handle shapefiles, Ship relies in the GIS open library pyshp.</p>
          <p class="lead">At the moment, Ship Shapefile Navigator is still in an alpha stage of development (version 0.1 Alpha).</p>
      </div>
    </div>
{% endblock page_content %}
