{% extends "base.html" %}
{% block title %}{{ blog.title }}{{ super() }}{% endblock title %}
{% include 'navbar.html' %}
{% block page_content %}
    {{ super() }}{{ blog.title }}{{ super() }}
    <div class="row">
      <div class="col-lg-6 col-md-6 col-lg-offset-1 col-md-offset-1 post">
        <h3 class="text-left">{{ blog.posts.day1.title }} <small>{{ blog.posts.day1.data }}</small></h3>
        <p class="lead">{{ blog.posts.day1.content }}</p>
      </div>
      
      <div class="difusion-blq col-md-5 col-md-offset-1">
        <div class="difusion-body" id="twitter-feed"></div>
      </div>
    </div>
{% endblock page_content %}
{% block shipjs %}
    <script src="js/ship.js" type="text/javascript" ></script>
{% endblock shipjs %}
