{% extends "base.html" %}
{% block title %}Screenshots{{ super() }}{% endblock title %}
{% include 'navbar.html' %}
{% block page_content %}
    <div class="row section-title">
      <div class="col-lg-6 col-md-6 col-lg-offset-1 col-md-offset-1">
        <h2 class="text-left">Screenshots</h2>
      </div>
    </div>
    
    <div class="row" id="screenshots">
      <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
        <img src="images/screenshots/1_preview_content.png" class="img-responsive img-thumbnail" alt="screenshot#1" title="Content screenshot">
        <h4><i>Exploring the contents of a directory.</i></h4>
        <br><br>
      </div>
      <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
        <img src="images/screenshots/2_preview_table.png" class="img-responsive img-thumbnail" alt="screenshot#2" title="Table screenshot">
        <h4><i>Seeing and navigating through the features in the shapefile data table.</i></h4>
        <br><br>
      </div>
      <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
        <img src="images/screenshots/3_preview_info_strings.png" class="img-responsive img-thumbnail" alt="screenshot#3" title="Info (strings) screenshot">
        <h4><i>Shape and fields information showing the frequency of the values per string field.</i></h4>
        <br><br>
      </div>
      <div class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1">
        <img src="images/screenshots/4_preview_preview.png" class="img-responsive img-thumbnail" alt="screenshot#4" title="Geometries Preview screenshot">
        <h4><i>Viewing the geometries of the shapefile.</i></h4>
        <br><br>
      </div>
    </div>
{% endblock page_content %}

